*~
*.py~
*.pyc
__pycache__/
instance/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info
*/*.swp
.*.swp
GUI/beta/
*/__pycache__
__pycache__/
.vscode/




*/_SUCCESS
*/data.csv
*/config.json
*/database.json
*/locales.json
*/search.json
*/conf.json
*/*.csv.crc
