*~
*.py~
*.pyc
__pycache__/
instance/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info
*/*.swp
.*.swp
GUI/beta/
*/__pycache__
__pycache__/
.vscode/
scripts/SpatialSUSapp/conf/conf.json
scripts/SpatialSUSapp/data/data.csv
conf/config.json
conf/search.json
x-special/nautilus-clipboard
copy
scripts/SpatialSUSapp/data/_SUCCESS

