*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: inherit;
}

body{
  background-color: whitesmoke;
}

h2{
  font-weight: 600;
}

.container{
  display: grid;
  background-color: whitesmoke;
  height:97vh;
  /*grid-template-rows: auto auto 1fr auto auto auto;*/
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto 1fr auto;
  gap: 24px;
  max-width: 100%
}

.header{
  /*Give to header  12 coluns in the first row*/
  grid-column: 1 / span 12;
  border: 3px solid tomato;
  border-radius: 8px;
  background-color: white;

}

.header-cotainer{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.header-logo{
  width: 100px;
  height: 100px;
  margin-left: 0;
  margin-top: auto;
  margin-bottom: auto;
  grid-column: 13 / span 1;
}

.header-img{
  width: 50px;
  height: 50px;
  margin-left: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.header-title{
  display: grid;
  grid-column: 2 / span 3;
  margin-left: -100px;
}



.info-bar{
  /*info bar should start at third column and end at sixth*/
  grid-column: 1 / span 3;
  border-radius: 8px;
  background-color: whitesmoke;
}


.info-bar-cotainer{
  display: grid;
  grid-template-columns: repeat(3,auto);
  gap: 6px;
  background-color: whitesmoke;
  border-radius: 8px;
}


.info-item{
  display: grid;
  background-color: white;
  border-radius: 8px;
  border: 3px solid tomato;
}

.main-body{
  /*
  Main body will start and end at same position as nav bar hover the 1fr
  attributed at third row will allow it expand as much as it can
  
  */
  grid-column: 4 / span 6;
  grid-row: 2 / 4;
  border: 3px solid tomato;
  border-radius: 8px;
  background-color: whitesmoke;
}

.side-bar{
  /*
  Side bar will get two rows and two columns
  
  */
  grid-row: 3 / 4;
  grid-column: 1 / span 3;
  border: 3px solid tomato;
  border-radius: 8px;
  background-color: white;
}

.side-bar-container{
  display: grid;
  grid-template-rows: repeat(12, auto);
}

.side-bar-item{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;

}

.side-bar-text{
  font-weight: 600;
  margin-left: 10px;
}

.side-graph{
  /*
  Side graph will the same rows as side-menu and
  the four last columns
  
  */
  grid-column: 10 / span 3;
  grid-row: 2 / 4;
  border: 3px solid tomato;
  border-radius: 8px;
  background-color: white;
}

.side-graph-container{
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  gap: 6px;
}


.footer{
  grid-column: 1 / span 12; 
  border: 3px solid tomato;
  border-radius: 8px;
  background-color: white;
  display: block;
}


.wrapper{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(12,1fr);
  height: 100%;
  gap: 6px;

}

.leaflet-map{
  display: grid;
  grid-column: 1 / span 7;
  grid-row: 1/ span 7;
  border-radius: 8px;
  background-color: white;
}

.table{
  display: grid;
  grid-row: 1/ span 7;
  background-color: white;
  border: 0;
}

.time-series{
  display: grid;
  grid-row: 8 / span 5;
  grid-column: 1 / span 12;
  background-color: white;
  border-radius: 8px;
}

.ts-graph{
  border-radius: 8px;
  height: 99%;
  width: 99%;
}


.card-img{
  display: block;
  width: 45px;
  height: 45px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}


.card-text{
  display: block;table
}


